
<form [formGroup]="service.formModel1" autocomplete="off" (submit)="onSubmit()">  
        <fieldset class="fieldset">
              <legend class="legend">User Profile</legend>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-6">  
                    <div class="form-group">
                        <div class="input-group">
                            <input formControlName="FullName" class="form-control sample">
                            <label>Full Name</label>                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input formControlName="Email" class="form-control">
                            <label>Email</label>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <div class="input-group">
                            <input formControlName="Username" class="form-control">
                            <label>Username</label>
                        </div>
                    </div>
                    
                    <div formGroupName="Passwords">
                  
                      <div class="form-group">
                          <div class="input-group">
                            <input type="password" formControlName="Password" class="form-control" required>
                            <label>New Password</label>
                            <div class="validation-error" *ngIf="service.formModel1.get('Passwords.Password').touched && service.formModel1.get('Passwords.Password').errors?.required">This field is required.</div>
                            <div class="validation-error" *ngIf="service.formModel1.get('Passwords.Password').touched && service.formModel1.get('Passwords.Password').errors?.pattern">Use 6 or more characters with a mix of letters, numbers, and symbols</div>                              
                          </div>
                      </div>
      
                      <div class="form-group">
                          <div class="input-group">
                            <input type="password" formControlName="ConfirmPassword" class="form-control" required>
                            <label>Confirm Password</label>
                            <div class="validation-error" *ngIf="service.formModel1.get('Passwords.ConfirmPassword').touched && service.formModel1.get('Passwords.ConfirmPassword').errors?.required">This field is required.</div>
                            <div class="validation-error" *ngIf="service.formModel1.get('Passwords.ConfirmPassword').touched && service.formModel1.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Password not matched.</div>
                          </div>
                      </div>
                    </div>
                    
      
                    
                  <div class="form-group">
                      <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="!service.formModel1.valid"><i class="fa fa-save"></i> Submit</button>                
                      <button class="btn btn-danger btn-lg btn-block" type="button" (click)="cancel()"><i class="fa fa-ban"></i> Cancel</button>
                  </div>          
                </div>      
                <div class="col"></div>      
              </div>
        </fieldset>
        
      </form>
      