#user tr{
    cursor: pointer
}

.table {
    font-size: 14px;
    white-space: nowrap;
}

.table tr {
    height: 15px;
}

.btn-warning {
    color: white;
}

.btn {
    margin-left: 5px;
    font-size: 12px;
}