<section class="main-container">
        <h3>User List</h3>
            <hr>
            <div style="overflow-x:auto;">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="user" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of list">      
                                <td>{{user.username}}</td>
                                <td>{{user.fullName}}</td>
                                <td>{{user.email}}</td>
                                <td>{{myMap[user.roleID]}}</td>
                                <td>
                                    <div id="actions">
                                    <button class="btn btn-primary btn-xs" [routerLink]="['/edituser']" (click)="populateForm(user, 'true')">Edit &nbsp;<i class="fa fa-pencil-square-o"></i>
                                    </button>
                                    <button class="btn btn-danger btn-xs" (click)="onDelete(user.id)"> Delete &nbsp;<i class="fa fa-trash"></i>
                                    </button>
                                </div>        
                                </td>
                            </tr>
                            </tbody>
                    </table>
            </div>
            
</section>
    