<div class="login-page">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <img src="assets/images/mobi724_logo.png" width="200px" class="user-avatar" />
                <h1>Switch Management System</h1>
                <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                    <div class="form-group">
                        <label>Enter your user account's verified email address and we will send you a password reset link.</label>
                        <input type="text" #email="ngModel" name="email" [(ngModel)]="formModel.email" class="form-control input-underline input-lg" required>
                    </div>
                    <button type="submit" class="btn rounded-btn" [disabled]="form.invalid"><span class="actions">Send</span></button>
                </form>
        </div>
    </div>
</div>
