$topnav-background-color: #f5f8fa;
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #20145A;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
        border-color: #20145A;
    }
    .input-underline {
        background: 0 0;
        border: 1;
        box-shadow: none;
        border-bottom: 2px solid #20145A(255, 255, 255, 0.5);
        color: #20145A;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid rgb(37, 8, 185);
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: #20145A(255, 255, 255, 0.8);
        background: #20145A;
        border: 2px solid #20145A(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }

    .rounded-btn:hover {
        background-color: rgb(37, 8, 185)
    }
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: #20145A(255, 255, 255, 1);
        border: 2px solid #20145A(255, 255, 255, 1);
        outline: none;
    }
    
    .actions {
        color: white;
    }

    .col-md-4 {
        background-color: #e9ecef;
        padding: 20px;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 30px;
        small {
            color: #20145A;
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: #20145A(255, 255, 255, 0.6) !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: #20145A(255, 255, 255, 0.6) !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: #20145A(255, 255, 255, 0.6) !important;
        }

        input:-ms-input-placeholder {
            color: #20145A(255, 255, 255, 0.6) !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 10px;
        border: 2px solid #20145A;        
    }
}
